

<nav aria-label="Page navigation example ">
    <ul class="inline-flex -space-x-px text-sm">
      {% if objects.has_previous %}
      <li>
        <a href="#" hx-target="#{{divId}}" hx-trigger="click"
        hx-get="{% url 'get_products' %}"
        hx-vals='{"{{pageName}}": {{ objects.previous_page_number }} }' class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      {% endif %}

      {% for i in objects.paginator.page_range %}
      {% if objects.number == i %}
      <li>
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{i}}</a>
      </li>


      {% else %}

      {% if i < 10 %}

      <li>
        <a href="#" hx-target="#{{divId}}" hx-trigger="click"
        hx-get="{% url 'get_products' %}"
        hx-vals='{"{{pageName}}": {{i}} }' class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</a>
      </li>

      {% endif %}


      {% endif %}


      {% endfor %}

      {% if objects.paginator.num_pages > 10 %}
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
      </li>
      {% if objects.number != objects.paginator.num_pages %}
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ objects.paginator.num_pages }}</a>
      </li>

      {% endif %}

      {% endif %}



      {% if objects.has_next %}
      <li>
        <a href="#" hx-target="#{{divId}}" hx-trigger="click"
        hx-get="{% url 'get_products' %}"
        hx-vals='{"{{pageName}}": {{ objects.next_page_number }} }' class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>

