<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | ModernInc Homes</title>
    </head>

    <body>
        {% include './navbar.html' %}

        <main style="min-height: 650px;">
            {% block content %}
            {% endblock %}
        </main>

        {% include './footer.html' %}

        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script>
            document.body.addEventListener("htmx:configRequest", (event) => {
                event.detail.headers["X-CSRFTOKEN"] = "{{csrf_token}}";
            });
        </script>
        <script>
            document.addEventListener('htmx:afterRequest', function(evt) {

            if (evt.detail.elt.classList.contains('hx-purchase-btn')){
                if (evt.detail.successful){
                    evt.detail.elt.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="#009B77" stroke="#009B77" viewBox="0 0 24 24" width="24px" height="24px"><path d="M9 19.4L3.3 13.7 4.7 12.3 9 16.6 20.3 5.3 21.7 6.7z"/></svg>'
                    evt.detail.elt.style.cursor = "help"
                    evt.detail.elt.setAttribute('title', 'added to cart!')
                    evt.detail.elt.setAttribute('hx-get', '#')
                }


            }

            return
            // Put the JS code that you want to run here
            });
            </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>